
# Autocreated by Unity
/Library
/Logs
/Temp
Assets/Resources/BillingMode.json
Assets/Resources/BillingMode.json.meta

# Autocreated by VS
*.csproj
*.sln

# Autocreated by IDEA/Rider
.idea/
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta

obj/
